:root{ 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
   background-image: url("/login-background.jpg") ;
   background-size: cover;
   width: 100vw;
   
    .login-wrapper{
    
    display: flex;
    align-items: center;
    justify-content: center;
 
   
    height: 100vh;
    
    .info-wrapper{
        margin-left: 200px;
        font-family: sans-serif;
        font-size:larger;  
        min-width: 30%;
       max-width: 30%;
       max-height: 500p;
       margin-bottom: 10%;
       

      h1{
        margin-top: 0;
        color: rgb(37, 62, 145);
      }
 
    }

    .form-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 border-radius: 20px;

 height: 50vh;
 width: 40vh;
 min-width: 300px;
 max-width: 45vh;
 
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 background-color: rgba(255, 255, 255, 0.7);

    
.input-password{
   width: 265px;
   background-color: transparent;
   
}
.ant-input::placeholder {
   color: gray !important; /* İstediğiniz rengi buraya yazın */
   opacity: 1 !important; /* Opaklık ayarını 1 olarak ayarlayın, böylece tam renk görünür */
 }

.input-email{
   width: 265px;
   background-color: transparent;
}
 .submit-button{
    
    width: 250px;
 }
 .sign-in-label{
    cursor: pointer;
    font-family: sans-serif;
    margin-left: 60px;
    
    
 }
 .sign-in-label:hover{
    text-decoration: underline;
    color:blue
 }
}}}
.login-logo{
    aspect-ratio: 500/100;
  width: 500px;
  height: 100px;
}
.table-container{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
  
  
  
}